# Core Data Science Libraries
numpy
pandas
matplotlib
plotly
seaborn

# Dashboard Frameworks
dash
streamlit

# Web Server for Deployment
gunicorn

# Additional libraries for web scraping (if needed)
selenium
webdriver-manager

# CLI utilities
tabulate